.idea/

Database/Utils/bin
Database/Utils/obj

Database/Db/Db.Core/bin
Database/Db/Db.Core/obj

Database/Db/Db.Records/bin
Database/Db/Db.Records/obj

Database/Db/Sql/bin
Database/Db/Sql/obj

Database/Enums/bin
Database/Enums/obj

Database/Exceptions/bin
Database/Exceptions/obj

Database/Server/Server.Tcp/bin
Database/Server/Server.Tcp/obj

Database/Server/Server.Core/bin
Database/Server/Server.Core/obj

Database/EntryPoint/bin
Database/EntryPoint/obj

ClientLibrary/Deltabase.Driver/bin
ClientLibrary/Deltabase.Driver/obj